<form action="<%= path %>" id="transactions-form" method="post">
  <input
    type="hidden"
    id="account_reference_id"
    name="account_reference_id"
    value="<%= account_reference_id %>"
  />
  <input type="hidden" id="id" name="id" value="<%= id %>" />
  <% if (typeof reason != "undefined"){ %>
  <input type="hidden" id="reason" name="reason" value="<%= reason %>" />
  <% } %>
  <input type="hidden" id="status" name="status" value="<%= status %>" />
  <button
    class="button"
    id="<%= btnId %>"
    type="submit"
    style="background-color:<%= color %>"
  >
    <%= title %>
    <span class="spinner"></span>
  </button>
  <script>
    let btn<%= btnId %> = document.getElementById("<%= btnId %>");
    btn<%= btnId %>.addEventListener(
      "click",
      function() {
        btn<%= btnId %>.classList.add("spin");
        btn<%= btnId %>.disabled = true;
        btn<%= btnId %>.style.opacity = 0.6
        const form =  document.getElementById("transactions-form");
        form && form.submit()
      },
      false
    );
  </script>
</form>
