<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style media="screen">
        body {
            display: flex;
            flex: 1;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-family: sans-serif;
        }

        .container {
            font-family: sans-serif;
            display: flex;
            flex: 1;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 640px;
            height: 600px;
            border: 1px solid gray;
        }

        .content {
            flex: 1;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin: 16px;
        }

        button {
            display: block;
            margin: 0 auto;
            padding: 0.6em 0.8em;
            /* Font-size is the root value that determines size of spinner parts.
            Change this to whatever you want and spinner elements will size to match. */
            font-size: 16px;
            font-weight: bold;
            border-radius: 0.4em;
            border: none;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            transition: all 1s;
            color: white;
            margin: 20px;
            padding: 20px;
        }

        div.tab {
            width: 100%;
            flex: 1;
            display: flex;
            align-content: space-around;
            justify-content: start;
            flex-direction: row;
            align-items: center;
        }

        div.tablinks {
            background-color: lightgray;
            font-weight: bold;
            cursor: pointer;
            padding: 12px;
            color: white;
            width: 50%;
            text-align: center;
        }

        div.selected {
            background-color: white;
            color: black;
        }


        /* focus/disabled styles, you can change this for accessibility */
        button:focus,
        button:disabled {
            outline: none;
            background: #aaa;
        }

        /* This is the space for the spinner to appear, applied to the button */
        .spin {
            padding-left: 20%;
            display: block;
        }

        /* position of the spinner when it appears, you might have to change these values */
        .spin .spinner {
            left: -10px;
            top: 30px;
            width: 2.5em;
            display: block;
            position: absolute;
        }

        /* spinner animation */
        @keyframes spinner {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /* The actual spinner element is a pseudo-element */
        .spin .spinner::before {
            content: "";
            width: 1.5em; /* Size of the spinner */
            height: 1.5em; /* Change as desired */
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            border: solid 0.35em white; /* Thickness/color of spinner track */
            border-bottom-color: transparent; /* Color of variant spinner piece */
            animation: 0.8s linear infinite spinner; /* speed of spinner */
            transform: translate(-50%, -50%);
            will-change: transform;
        }

        /* optional, but it will affect the size if changed */
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        .tab {
            display: flex;
            flex-direction: row;
        }

        #qr {
            border: 1px solid lightgray;
            border-radius: 16px;
            margin-left: 32px;
        }

    </style>
    <script>
        window.onload = selectTab('app_tab')
        var timerId;

        function selectTab(id) {
            if (id === 'app_tab') {
                if (!timerId) {
                    timerId = setInterval(() => {
                        const url = `${window.location.origin}/api/orchestrated/transactions${window.location.search}`;
                        var headers = new Headers();
                        headers.append("Accept", "application/json");
                        const params = {
                            method: "GET",
                            headers: headers,
                        };
                        fetch(url, params).then((response) => {
                            return response.json();
                        })
                            .then((json) => {
                                if (json.status !== 'Created') {
                                    window.location.href = json.gateway_success_url
                                }
                            });
                    }, 4000);
                }

            } else {
                timerId && window.clearInterval(timerId)
                timerId = null
            }
            Array.from(document.getElementsByClassName("tablinks") ?? []).forEach((t) => t.classList.remove("selected"));
            const sel = document.getElementById(id);
            sel && sel.classList && sel.classList.add("selected");
            Array.from(document.getElementsByClassName("content") ?? []).forEach((t) => t.style.display = t.id === `${id}_content` ? 'flex' : 'none');
        }

        function approveBtn_onClick() {
            do {
                var approvedAmount = parseFloat(prompt("Please enter approved amount", "<%= amount %>"), "<%= amount %>");
            }
            while (isNaN(approvedAmount) || approvedAmount < 0.01);

            do {
                var approvedCurrency = prompt("Please enter approved currency", "<%= currency %>");
            }
            while (!approvedCurrency);
            return apiSubmit("/api/orchestrated/approve", {
                id: "<%= id %>",
                account_reference_id: "<%= account_reference_id %>",
                approved_amount: approvedAmount || "<%= amount %>",
                approved_currency: approvedCurrency || currency
            }).then((json) => {
                location.reload();
            });

        }

        function preAuthBtn_onClick() {
            timerId && window.clearInterval(timerId)
            timerId = null

            const url = `${window.location.origin}/api/orchestrated/transactions${window.location.search}`;
            var headers = new Headers();
            headers.append("Accept", "application/json");
            const params = {
                method: "GET",
                headers: headers,
            };
            fetch(url, params).then((response) => {
                return response.json();
            })
                .then((json) => {
                    window.location.href = json.merchant_redirect_success_url
                });
        }

        function cancelBtn_onClick() {
            return apiSubmit("/api/orchestrated/cancel", {
                id: "<%= id %>",
                account_reference_id: "<%= account_reference_id %>",
                reason: "User trigger failed"
            }).then((json) => {
                location.reload();
            });
        }

        function apiSubmit(url, body) {
            var headers = new Headers();
            headers.append("Content-Type", "application/json");
            headers.append("Accept", "application/json");
            const params = {
                method: "POST",
                headers: headers,
                body: JSON.stringify(body),
            };
            return fetch(url, params)
                .then((response) => {
                    return response.json();
                })
        }
    </script>
<body>
<h2>ACME PAY</h2>
<div class="container">

    <div class="tab">
        <div id="app_tab" class="tablinks selected" onclick="selectTab('app_tab')">Pay using App</div>
        <div id="browser_tab" class="tablinks" onclick="selectTab('browser_tab')">Pay in Browser</div>
    </div>

    <div id="browser_tab_content" class="content" style="display: none">

        <%- include('button', {
        id,
        account_reference_id,
        title: "Approve Transaction",
        color: "dodgerblue",
        status: "Approved",
        btnId: "approveBtn",
        path: "/api/orchestrated/approve"
        }) %>
        <%- include('button', {
        id,
        account_reference_id,
        title: "Pending approval",
        color: "dodgerblue",
        status: "PreAuth",
        btnId: "preAuthBtn",
        path: "/api/orchestrated/pre-auth"
        }) %>
        <%- include('button', {
        id,
        account_reference_id,
        title: "Decline transaction",
        color: "red",
        status: "Failed",
        reason: "User trigger failed",
        btnId: "cancelBtn",
        path: "/api/orchestrated/cancel"
        }) %>
    </div>
    <div id="app_tab_content" class="content">
        <% if ( typeof qrSRC != "undefined" ) { %>
            <h3>Open the Account app to scan!</h3>
            <img id="qr" alt="QR Code Image" src="<%= qrSRC %>"/>
        <% } %>
        <% if ( typeof deeplink != "undefined" ) { %>
        <script>
            window.location = "<%= deeplink %>";
        </script>
        <% } %>
    </div>
</div>
</body>
</html>
