<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
  </head>
  <script>
    function approve( status) {
      const patLinkData = {
        id: "<%= patLink.id %>",
        partner_link_ref: "<%= patLink.partner_link_ref%>",
        partner_customer_id: "<%= patLink.partner_customer_id%>",
        intent: "<%= patLink.intent%>",
        description: "<%= patLink.description%>",
        constraints: "<%= patLink.constraints%>",
        of_link_ref: "<%= patLink.of_link_ref%>",
      }

      const url = `${window.location.origin}/api/pat/${patLinkData.id}/approve`;
      var headers = new Headers();
      headers.append("Content-Type", "application/json");
      headers.append("Accept", "application/json");
      const params = {
        method: "PATCH",
        headers: headers,
        body: JSON.stringify({
          ...patLinkData,
          status: status,
        }),
      };
      fetch(url, params)
              .then(function (a) {
                return a.json(); // call the json method on the response to get JSON
              })
              .then((data) => {
                // HTTP 301 response
                // HOW CAN I FOLLOW THE HTTP REDIRECT RESPONSE?
                console.log(data)
                window.location.href = data.url;

              }).catch(function(err) {
        console.info(err + " url: " + url);
      });
              ;
    }
  </script>
  <style>

    .submitButton{
      background: #9b59b6;
      border: #9b59b6 solid 1px;
      width: 100px;
      height: 50px;
      margin-top: 10px;
      border-radius: 3px;
    }
    .main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      padding: 6rem;
      min-height: 30vh;

      width: 500px;
      border: #1a2950 1px solid;
    }
  </style>
  <body>
    <div class="main">
      <div><label>LINK ID:</label><b> <%= patLink.id %></b></div>
      <div><label>INTENT:</label> <b> <%= patLink.intent %></b></div>
      <div><label>DESCRIPTION: </label><b><%= patLink.description %></b></div>
      <div><label>AMOUNT: </label><b><%= patLink.constraints.amount %></b></div>
      <div><label>CURRENCY: </label><b><%= patLink.constraints.currency %></b></div>
      <div><label>FREQUENCY: </label><b><%= patLink.constraints.frequency %></b></div>
      <div><label>START_DATE: </label><b><%= patLink.constraints.start_date %></b></div>
      <div>
        <button class="submitButton" id="approve-trans" onclick='approve("approved")'>
          Approve
        </button>
        <button class="submitButton" id="approve-trans" onclick='approve("failed")'>
          Deny
        </button>
      </div>
    </div>
  </body>
</html>
